<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>ng trader</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="favicon.ico">
    <!-- build:css(.tmp) styles/app.css -->
    <link rel="stylesheet" href="app.css">
    <style>
    ul{
        list-style: none;
        width: 40%;
    }
    li{
        border: 2px solid #e7e7e7;
        background-color: #eee;
        padding: 3px;
        margin-top: 5px;
    }
    .completed{
        border: 2px solid #f00;
        background-color: #edd3e3;
    }
    .completedCount{
        color : red
    }
    .sortColumn {
        background-color: lightblue;
    }
    div[notification-message]{
        border: 2px solid black;
        background: #eee;
        padding: 10px;
        border-radius: 3px;
    }
    </style>
    <!-- endbuild -->
</head>
<body ng-app="exercise.angular" ng-controller="taskController" >
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!--<ng-view></ng-view>-->
<h1>Task Manager - [<span class="completedCount">{{getCompletedCount()}}</span>/<span>{{getTotalCount()}}</span>]
</h1>
	
	<hr>
	<div>
	    <label for="txtTask">Task :</label>
	    <input type="text" data-ng-model="newTask">
	    
	    <input type="button" value="Add Task" id="btnAdd" data-ng-click="addTask(newTask)" ng-disabled="!newTask">
	    <input type="button" value="Remove Completed" data-ng-click="removeCompleted()">
        <table data-ng-hide="tasks.length === 0" style="width:75%; margin-top:10px" border="1" cellpadding="5px">
            <tr>
                <th>#</th>
                <th data-ng-click="sort('name')" data-ng-class="{sortColumn : sortOrder==='name'}">
                    Name
                    
                </th>
                <th data-ng-click="sort('createdAt')" data-ng-class="{sortColumn : sortOrder==='createdAt'}">Created On</th>
                <th data-ng-click="sort('isCompleted')" data-ng-class="{sortColumn : sortOrder==='isCompleted'}">Is Completed</th>
                <th data-ng-click="sort('completedAt')" data-ng-class="{sortColumn : sortOrder==='completedAt'}">Completed On</th>
                <th></th>
            </tr>
            <tr data-ng-repeat="task in tasks | orderBy:sortOrder:reverse">
                <td style="text-align:center">{{$index}}</td>
                <td data-ng-class="{completed: task.isCompleted, sortColumn : sortOrder==='name'}">{{task.name | uppercase}}</td>
                <td data-ng-class="{sortColumn : sortOrder==='createdAt'}">{{task.createdAt | date}}</td>
                <td data-ng-class="{sortColumn : sortOrder==='isCompleted'}">{{task.isCompleted}}</td>
                <td data-ng-class="{sortColumn : sortOrder==='completedAt'}">{{task.completedAt | date}}</td>
                <td><input type="button" value="Toggle Completion" data-ng-click="toggleCompletion(task)"></td>
            </tr>
        </table>
	   <div notification-message class="message">{{message}}</div>
	    
	</div>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<script src="../bower_components/angular-resource/angular-resource.js"></script>
<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js scripts/app.js -->
<script src="app.js"></script>

<!-- The templates.js files is special because we load it from the .tmp/ folder-->
<script src="templates.js"></script>

<!--<script src="routes.js"></script>-->

<script src="common/sapeMessage.directive.js"></script>
<script src="dashboard/dashboard.controller.js"></script>

<script src="home/home.controller.js"></script>
<script src="tasks/tasks.js"></script>
<!-- endbuild -->
</body>
</html>
